html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 8px;
  max-width: 25em;
  margin: 0;
}

.link-card h2 {
  color: #512200;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Dosis, sans-serif;
  display: block;
  margin: 0 0 1rem;
}

.para {
  font-size: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
  max-width: 25em;
  color: #512200;
  padding: 1rem;
  margin: 0;
}

.top-box {
  border-bottom: 2px solid #9a816d;
  font-family: Georgia;
  font-size: 1.125rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.bottom-box {
  border-bottom: 2px solid #9a816d;
}

.last-box {
  padding-top: 1rem;
  text-align: center;
}

.btn {
  color: #f0eee8;
  background-color: #785439;
  display: inline-block;
  border-radius: 8px;
  padding: .4em .75em .5em;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
}

dl {
  line-height: 1.25rem;
}

dt,
dd {
  display: inline-block;
}

dt {
  font-family: Georgia;
  width: 50%;
  font-size: .875rem;
}

dd {
  font-family: Georgia;
  font-style: italic;
  font-size: .875rem;
  margin: 0;
}
